.accordion__toggle {
  position: relative;
  display: block;
  width: 100%;
  padding: 14px 55px 14px 46px;
  text-align: left;
  background-color: $gray-standard-color;
  border: none;
}

.accordion__toggle:focus {
  outline: none;
  color: rgba($black-color, 0.3);
}

.accordion__icon-design {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.accordion__icon-arrow {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.accordion__title {
  display: block;
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.accordion__body {
  padding: 22px;
  border: 1px solid $gray-standard-color;
}

.accordion__item--hidden .accordion__body {
  display: none;
}

.accordion__item--open .accordion__icon-arrow {
  top: 18px;
  transform: rotate(180deg);
}

.accordion__item {
  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }
}

@media (min-width: $laptop) {
  .accordion__item {
    &:hover {
      box-shadow: 0 0 5px rgba($black-color, 0.2);
    }
  }
}
