.breadcrumbs__list {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .breadcrumbs {
    padding: 0 0 10px 0;
  }

  .breadcrumbs__list li {
    display: none;

    &:nth-last-child(2) {
      display: block;
    }
  }

  .breadcrumbs__item a {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    font-size: 14px;
    color: $gray-lite-color;
    text-decoration: none;

    &::before {
      content: " ";
      position: absolute;
      left: 0;
      top: 4px;
      width: 5px;
      height: 10px;
      background-image: url("../img/breadcrumbsarrow.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      transform: rotate(180deg);
    }
  }
}

@media (min-width: $tablet) {
  .breadcrumbs {
    padding-bottom: 22px;
    display: block;
  }

  .breadcrumbs__list {
    display: flex;
    flex-wrap: wrap;
  }

  .breadcrumbs__item {
    position: relative;
    margin-right: 46px;
    color: $black-color;

    &::before {
      content: " ";
      position: absolute;
      right: -25px;
      top: 4px;
      width: 5px;
      height: 10px;
      background-image: url("../img/breadcrumbsarrow.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .breadcrumbs__item a {
    display: block;
    font-size: 14px;
    color: $gray-lite-color;
    text-decoration: none;
  }

  .breadcrumbs__item a[href]:focus {
    color: $black-color;
  }
}

@media (min-width: $tablet-large) {
  .breadcrumbs {
    padding-top: 20px;
    padding-bottom: 19px;
  }
}

@media (min-width: $laptop) {
  .breadcrumbs__item a[href]:hover {
    color: $gray-hover-color;
  }

  .breadcrumbs__item a[href]:focus {
    color: $black-color;
  }
}
