.button {
  position: relative;
  display: inline-block;
  padding: 13px 61px 12px 61px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: $violet-dark-color;
  text-decoration: none;
  background-color: $violet-lite-color;
  border: 1px solid $violet-lite-color;
  border-radius: 3px;

  &:focus {
    outline: none;
    color: rgba($violet-dark-color, 1);
    box-shadow: 0 0 0 0.2rem rgba(#7835bb, 0.25);
  }
}

.button--mobile-menu {
  width: 100%;
}

.button--mobile-menu:last-child {
  margin-top: 5px;
}

.button--registration {
  width: 100%;
}

.button--organization-header {
  display: none;
}

.button--enter {
  width: 100%;
  padding-left: 45px;
  padding-right: 45px;
}

.button--recovery-password {
  padding-left: 20px;
  padding-right: 23px;
}

.button--recovery-next-step {
  padding-left: 19px;
  padding-right: 19px;
}

.button--green {
  color: $green-color;
  background-color: $green-color-lite;
  border-color: $green-color-lite;

  &:focus {
    color: $green-color;
    box-shadow: 0 0 0 0.2rem rgba($green-color, 0.25);
  }
}

.button--save {
  position: relative;
}

.button--save svg {
  position: absolute;
  left: 0;
  top: 0;
}

.button--cabinet-submit {
  position: relative;
  padding-left: 49px;
  padding-right: 20px;
}

.button--cabinet-submit svg {
  position: absolute;
  left: 20px;
  top: 15px;
}

.button--add-something {
  position: relative;
  padding-right: 19px;
  padding-left: 51px;

  &::before,
  &::after {
    content: " ";
    position: absolute;
    left: 20px;
    top: 21px;
    height: 1px;
    width: 21px;
    background-color: $violet-dark-color;
  }

  &::after {
    transform: rotate(-90deg);
  }
}

.button--yellow {
  color: $yellow-color;
  background-color: $yellow-lite-color;
  border-color: $yellow-lite-color;

  &:focus {
    color: rgba($yellow-color, 1);
    box-shadow: 0 0 0 0.2rem rgba($yellow-color, 0.25);
  }
}

.button--red {
  color: $red-color;
  background-color: $red-lite-color;
  border-color: $red-lite-color;

  &:focus {
    color: rgba($red-color, 1);
    box-shadow: 0 0 0 0.2rem rgba($red-color, 0.25);
  }

  svg {
    color: $red-color;
  }
}

.button-delete {
  position: relative;
  padding-left: 55px;
  padding-right: 21px;
}

.button-delete svg {
  position: absolute;
  left: 20px;
  top: 10px;
}

.button-view{
  position: relative;
  padding-left: 55px;
  padding-right: 21px;
}

.button-view svg {
  position: absolute;
  left: 20px;
  top: 15px;
}

.button--green::after {
  background-color: $green-color;
}

.button--green::before {
  background-color: $green-color;
}

.button--icon-transform {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  padding: 0 0 0 43px;
  overflow: hidden;

  &::before,
  &::after {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.button--transparent {
  padding-left: 20px;
  padding-right: 20px;
  color: $black-color;
  font-weight: 300;
  background-color: transparent;
  border-color: $gray-color;

  &:focus {
    color: $black-color;
    border-color: $violet-dark-color;
  }
}

.button--filter-open {
  position: relative;
  padding: 8px 40px 7px 40px;
}

.curse__teachers--edit {

  .button {
    min-width: 205px;
    margin-bottom: 8px;
  }

  .button--save {
    padding: 11px 20px 11px 50px;
  }
  .button--save svg {
    left: 21px;
    top: 9px;
  }
}

.button--gray {
  color: $gray-lite-color;
  background-color: $gray-standard-color;
  border-color: $gray-standard-color;

  &:focus {
    color: $gray-lite-color;
    box-shadow: 0 0 0 0.2rem rgba($gray-hover-color, 0.25);
  }
}

.button--icon-transform-svg {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  padding: 0 0 0 43px;
  overflow: hidden;

  &::before,
  &::after {
    display: none;
  }
}

.button--icon-transform-svg svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: $tablet) {
  .button--save {
    padding: 11px 20px 11px 50px;
  }

  .button--save svg {
    left: 21px;
    top: 9px;
  }

  .button--icon-transform-svg,
  .button--icon-transform {
    width: auto;
    overflow: initial;
    border-radius: 3px;
    padding: 13px 20px 12px 51px;

    &::before,
    &::after {
      left: 20px;
      top: 20px;
      transform: none;
    }

    &::after {
      transform: rotate(90deg);
    }
  }

  .curse__teachers--edit {
    .button {
      min-width: auto;
      margin-bottom: 0;
    }
  }

  .button--icon-transform-svg svg {
    top: 11px;
    left: 20px;
    transform: none;
  }
}

@media (min-width: $tablet-large) {
  .button--organization-header {
    display: inline-block;
    padding: 12px 19px;
  }
}

@media (min-width: $laptop) {
  .button {
    &:hover {
      color: rgba($violet-dark-color, 0.6);
    }

    &:focus {
      outline: none;
      color: rgba($violet-dark-color, 1);
      box-shadow: 0 0 0 0.2rem rgba(#7835bb, 0.25);
    }
  }

  .button--green {
    &:hover {
      color: rgba($green-color, 0.6);
    }

    &:focus {
      color: rgba($green-color, 1);
      box-shadow: 0 0 0 0.2rem rgba($green-color, 0.25);
    }
  }

  .button--yellow {
    &:hover {
      color: rgba($yellow-color, 0.6);
    }

    &:focus {
      color: rgba($yellow-color, 1);
      box-shadow: 0 0 0 0.2rem rgba($yellow-color, 0.25);
    }
  }
  .button--red {
    &:hover {
      color: rgba($red-color, 0.6);
    }

    &:focus {
      color: rgba($red-color, 1);
      box-shadow: 0 0 0 0.2rem rgba($red-color, 0.25);
    }
  }

  .button--transparent {
    &:hover {
      color: rgba($black-color, 0.6);
    }

    &:focus {
      color: rgba($black-color, 1);
      border-color: $violet-dark-color;
    }
  }

  .button--gray {
    &:hover {
      color: rgba($gray-lite-color, 0.6);
    }

    &:focus {
      color: $gray-lite-color;
      box-shadow: 0 0 0 0.2rem rgba($gray-hover-color, 0.25);
    }
  }
}

@media (min-width: $desktop) {
  .button--organization-header {
    letter-spacing: 0.3px;
  }
}
