.cabinet {
  margin-bottom: 59px;
}

.cabinet__form {
  position: relative;
}

.cabinet__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.cabinet__item {
  padding-top: 29px;
  padding-bottom: 30px;
  border-bottom: 1px solid $gray-color;

  &:last-child {
    border-bottom: none;
  }
}

.cabinet__title {
  margin-top: 0;
  margin-bottom: 9px;
  line-height: 21px;
  font-size: 16px;
  font-weight: 500;
  color: $black-color;
}

.cabinet__text {
  margin: 0;
  font-size: 16px;
  color: $black-color;
}

.cabinet__list li {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}

.cabinet__description {
  margin-bottom: 37px;
}

.cabinet__details p {
  margin-top: 0;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.cabinet__details p span {
  display: inline-block;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: $black-color;
}

.cabinet__details p a {
  color: $violet-dark-color;
  text-decoration: none;

  &:focus {
    color: rgba($violet-dark-color, 0.3);
  }
}

.cabinet__item--avatar {
  padding-bottom: 60px;
}

@media (max-width: 768px) {
  .cabinet__submit--hidden {
    display: none;
  }
}

@media (min-width: $tablet) {
  .cabinet {
    margin-top: 30px;
    margin-bottom: 145px;
  }

  .cabinet__page-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cabinet__page-name h2 {
    max-width: 490px;
  }
}

@media (min-width: $tablet-large) {
  .cabinet {
    margin-bottom: 148px;
  }

  .cabinet__page-name h2 {
    margin-top: 6px;
  }

  .cabinet__item {
    display: flex;
    flex-wrap: wrap;
    padding-top: 31px;
    padding-bottom: 27px;

    &:last-child {
      border-bottom: 1px solid $gray-color;
    }
  }

  .cabinet__item--avatar {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .cabinet__description {
    max-width: 270px;
    margin-right: 30px;
    width: 100%;
  }

  .cabinet__list {
    max-width: 570px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .cabinet__list li {
    margin-right: 30px;
    max-width: 270px;
    width: 100%;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .cabinet__details {
    display: flex;
    flex-wrap: wrap;
    max-width: 570px;
    width: 100%;
    padding-top: 32px;
  }

  .cabinet__details p {
    max-width: 270px;
    width: 100%;
    margin-right: 30px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media (min-width: $laptop) {
  .cabinet__inner {
    display: flex;
    align-items: flex-start;
  }

  .cabinet__info-block {
    max-width: 870px;
    width: 100%;
    margin-left: auto;
  }

  .cabinet {
    margin-top: 30px;
    margin-bottom: 140px;
  }

  .cabinet__details p a {
    &:hover {
      color: rgba($violet-dark-color, 0.6);
    }

    &:focus {
      color: rgba($violet-dark-color, 0.3);
    }
  }
}

@media (min-width: $desktop) {
  .cabinet__info-block {
    max-width: 1005px;
  }

  .cabinet__description {
    max-width: 315px;
    margin-right: 60px;
  }

  .cabinet__list li,
  .cabinet__details p {
    max-width: 285px;
    margin-right: 60px;
  }

  .cabinet__list,
  .cabinet__details {
    max-width: 630px;
    margin-left: auto;
  }
}
