.dynamic-form {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  counter-reset: li;
}

.dynamic-form__header {
  display: flex;
  align-items: flex-start;
  padding: 12px 20px 6px 67px;
  border: 1px solid $gray-color;
  border-radius: 3px;
}

.dynamic-form__name {
  display: none;
  flex-grow: 1;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

.dynamic-form__toggle span {
  position: absolute;
  left: 0;
  top: -7px;
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.dynamic-form__toggle:focus span {
  background-color: #edeeef;
}

.dynamic-form__toggle {
  position: relative;
  margin-right: -8px;
  width: 35px;
  height: 21px;
  background-color: transparent;
  border: none;

  &::before,
  &::after {
    content: " ";
    position: absolute;
    right: 7px;
    top: 10px;
    height: 1px;
    width: 21px;
    background-color: $black-color;
    z-index: 1;
  }

  &::before {
    transform: rotate(90deg);
  }

  &:focus {
    outline: none;
  }
}



.dynamic-form__dynamic {
  margin-right: 14px;
}

.dynamic-form__switcher {
  margin-right: 21px;
  margin-left: auto;
}

.dynamic-form__body {
  padding: 20px;
  border: 1px solid $gray-color;
  border-top: none;
}

.dynamic-form__left-element .label {
  margin-top: 0;
}

.dynamic-form__left-element {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}

.dynamic-form__elements {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}

.spawn-method {
  .dynamic-form__elements {
    position: relative;
  }

  .dynamic-form__right-element {
    padding-right: 35px;
  }

  .delete-messanger-data {
    top: inherit;
    bottom: 10px;
  }
}

.dynamic-form__item {
  position: relative;
  margin-bottom: 30px;

  &::before {
    counter-increment: li;
    content: "№" counter(li) " ";
    position: absolute;
    left: 21px;
    top: 14px;
    font-weight: 500;
    font-size: 16px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.dynamic-form__content--hidden .dynamic-form__body {
  display: none;
}
.dynamic-form__content--hidden .dynamic-form__toggle::before {
  display: block;
}
.dynamic-form__item--open .dynamic-form__toggle::before {
  display: none;
}

.dynamic-form__elements--connect .dynamic-form__left-element {
  margin-bottom: 20px;
}

@media (min-width: $tablet) {
  .dynamic-form__name {
    display: block;
    max-width: 450px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media (min-width: $tablet-large) {
  .dynamic-form__elements {
    display: flex;
  }

  .dynamic-form__left-element {
    max-width: 277px;
    margin-right: 60px;
    width: 100%;
    margin-bottom: 0;
  }

  .dynamic-form__right-element {
    flex-grow: 1;
    width: 100%;
    margin-bottom: 0;
  }

  .dynamic-form__elements--connect .dynamic-form__left-element {
    margin-bottom: 0;
  }

  .dynamic-form__elements--connect .dynamic-form__right-element {
    padding-top: 27px;
  }

  .dynamic-form__toggle {
    margin-right: 0;
  }

  .dynamic-form__body {
    padding: 30px 30px 32px 30px;
  }

  .dynamic-form__toggle:hover span {
    background-color: #f1f3f4;
  }

  .dynamic-form__toggle:focus span {
    background-color: #edeeef;
  }

  .dynamic-form__item::before {
    left: 30px;
  }
}

@media (min-width: $laptop) {
  .dynamic-form__content {
    &:hover {
      box-shadow: 0 0 5px rgba($black-color, 0.2);
    }
  }
}
