.featured-articles__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.featured-articles {
  margin-top: 63px;
}

.featured-articles__title {
  margin-bottom: 31px;
  text-align: center;
}
