.logo--header {
  margin: 4px auto 0 auto;
}

.logo__link {
  display: inline-block;
}

.logo__link img {
  max-width: 132px;
  height: auto;
}

.logo--mobile-menu {
  margin-bottom: 19px;
  text-align: center;
}

@media (min-width: $iphone-breakpoint) {
  .logo__link img {
    max-width: 167px;
  }

  .logo--header {
    margin-top: 0;
  }
}

@media (min-width: $tablet-large) {
  .logo--header {
    margin-right: 30px;
    margin-left: 0;
  }
}
