.product, .product-school {
  position: relative;
  padding: 20px 0;
  flex-grow: 1;
}

.product__img {
  background-color: $gray-standard-color;
}

.product__img, .product-school__img {
  position: relative;
  display: block;
}

.product__name, .product-school__name {
  font-size: 16px;
  margin: 0 0 12px 0;
}

.product__name a, .product-school__name a {
  font-weight: 500;
  color: $black-color;
  text-decoration: none;

  &:focus {
    color: rgba($black-color, 0.3);
  }
}

.product__organization {
  margin: 0;
  font-size: 16px;
  color: $black-color;
}

.product__cities, .product-school__cities {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
}

.product-school__cities {
  margin-bottom: 10px;
}

.product__cities p, .product-school__cities p {
  margin: 0 8px 0 0;
  font-size: 16px;
  color: $black-color;

  &:last-child {
    margin-right: 0;
  }
}

.product__cities svg, .product-school__cities svg {
  margin-right: 11px;
}

.product__cities p a, .product-school__cities p a {
  color: $gray-color;
  text-decoration: none;

  &:focus {
    color: $black-color;
  }
}

.product__features {
  padding-left: 0;
  margin: 12px 0 0 0;
  list-style: none;
}

.product__features li {
  font-size: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.product__features svg {
  margin-right: 6px;
}

.product__label-price, .product-school__label-price {
  margin: 0 10px 0 0;
  color: $gray-lite-color;
}

.product__price, .product-school__price {
  display: flex;
  margin-top: 12px;
}

.product__price p, .product-school__price p {
  font-size: 16px;
}

.product__sum, .product-school__sum {
  margin: 0;
  font-weight: 500;
}

.product__info-block, .product-school__info-block{
  padding-top: 7px;
}

.product__actions, .product-school__actions {
  display: flex;
  margin-top: 20px;
}

.product__buy, .product-school__buy {
  position: relative;
  margin-left: 10px;
  padding: 7px 20px;
}
.product-school__buy {
  margin-left: 0;
}

.product__buy svg, .product-school__buy svg {
  display: none;
}

.product__sale {
  margin-left: 5px;
  color: $red-color;

  &::before {
    content: "-";
  }
}

.product__rating {
  position: absolute;
  left: 5px;
  top: 25px;
  display: flex;
  align-items: center;
  padding: 7px 10px 6px 10px;
  font-size: 16px;
  background-color: $white-color;
  box-shadow: 0 3px 6px rgba($black-clear-color, 0.16);
  border-radius: 16px;
}

.product__rating svg {
  margin-top: -2px;
  margin-left: 10px;
}

.product__picture, .product-school__picture {
  position: relative;
}

.product--top .product__img::after {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  width: 77px;
  height: 77px;
  background-image: url("../img/in-top.png");
  background-size: contain;
  pointer-events: none;
}

.product__img img, .product-school__img img {
  width: 100%;
}

.product__img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product__picture {
  position: relative;
  display: flex;
  height: 210px;
}

.product__img {
  display: flex;
  flex-grow: 1;
}

@media (min-width: $tablet) {
  .product__info-block, .product-school__info-block {
    flex-grow: 1;
  }

  .product, .product-school {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid $gray-color;
    border-radius: 3px;
  }

  .product--top::after {
    top: 0;
    right: 0;
  }

  .product--top {
    border-color: $violet-dark-color;
  }

  .product__rating {
    left: 25px;
  }

  .product__img {
    justify-content: center;
    text-align: center;
  }

  .product__img img {
    position: static;
    max-height: 140px;
    object-fit: contain;
    height: auto;
    max-width: 100%;
  }

  .product__picture {
    height: auto;
  }
}

@media (min-width: $tablet-large) {
  // .product__cities .product__cities__more {
  //   width: 100%;
  //   margin-top: 5px;
  // }
}

@media (min-width: $laptop) {
  .product:hover {
    box-shadow: 0 0 5px rgba($black-color, 0.2);
  }

  .product__name a, .product-school__name a {
    &:hover {
      color: rgba($black-color, 0.6);
    }

    &:focus {
      color: rgba($black-color, 0.3);
    }
  }

  .product__cities p a, .product-school__cities p a{
    &:hover {
      color: $gray-hover-color;
    }

    &:focus {
      color: rgba($black-color, 0.3);
    }
  }
}
