.promo {
  position: relative;
  margin-top: 3px;
  padding-top: 94px;
  padding-bottom: 96px;
  color: $white-color;
  background-image: url("../img/promo-mobile@1x.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;

  &::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black-color, 0.4);
    z-index: -1;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/promo-mobile@2x.jpg");
  }
}

.promo__title {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.promo__text {
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

@media (min-width: $iphone-breakpoint) {
  .promo {
    padding-top: 171px;
    padding-bottom: 170px;
    background-image: url("../img/promo-mobile-iphone-@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/promo-mobile-iphone@2x.jpg");
    }
  }
}

@media (min-width: $tablet) {
  .promo__text {
    font-size: 28px;
  }

  .promo {
    margin-top: 0;
    background-image: url("../img/promo-mobile-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/promo-mobile-tablet@2x.jpg");
    }
  }
}

@media (min-width: $tablet-large) {
  .promo {
    padding-top: 202px;
    padding-bottom: 201px;
  }

  .promo__text {
    margin-top: 68px;
    max-width: 792px;
    margin-left: auto;
    margin-right: auto;
  }
}
