.recovery-password {
  margin-top: 30px;
  margin-bottom: 60px;
}

.recovery-password--next-step {
  margin-bottom: 57px;
}

@media (min-width: $iphone-breakpoint) {
  .recovery-password--next-step {
    margin-bottom: 55px;
  }
}

@media (min-width: $tablet-large) {
  .recovery-password {
    margin-top: 60px;
    margin-bottom: 203px;
  }

  .recovery-password--next-step {
    margin-bottom: 144px;
  }
}

@media (min-width: $laptop) {
  .recovery-password {
    margin-bottom: 147px;
  }

  .recovery-password--next-step {
    margin-bottom: 144px;
  }
}
