.select-standard__toggle {
  position: relative;
  padding: 0 53px 0 20px;
  text-align: left;
  height: 45px;
  width: 100%;
  background-color: transparent;
  border: 1px solid $gray-color;
  border-radius: 3px;

  &:focus {
    outline: none;
    border-color: $yellow-color;
  }
}

.select-standard__body .input--search {
  &:focus {
    border-color: $yellow-color;
    box-shadow: none;
  }
}

.select-standard__body {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.select-standard__toggle:focus .select-standard__arrow {
  border-color: $yellow-color;
}

.select-standard__toggle .select-standard__title {
  display: block;
  font-size: 16px;
  line-height: 45px;
  white-space: nowrap;
  overflow: hidden;
}

.select-standard__arrow {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  width: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $gray-color;
}

.select-standard__body {
  display: none;
}

.select-standard--without-search .select-standard__arrow {
  border-color: transparent;
}

.select-standard--without-search
  .select-standard__toggle:focus
  .select-standard__arrow {
  border-color: transparent;
  box-shadow: none;
}

.select-standard__title--placeholder {
  color: $gray-color;
}

.select-standard {
  position: relative;
}

.select-standard__body {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid $gray-color;
  border-top: 0;
  border-radius: 0 0 3px 3px;
  background-color: #fff;
  z-index: 2;
  .select-standard__list {
    position: relative;
    list-style: none;
    padding-left: 0;
    margin-bottom: 7px;
    margin-top: 55px;
    height: 175px;
    overflow-y: auto;

    .select-standard__option {
      border: 0;
      background-color: #fff;
      min-height: 45px;
      width: 100%;
      text-align: left;
      padding: 0 20px;
      cursor: pointer;
      outline: none;
      &:hover {
        background-color: $gray-standard-color;
      }
    }
  }
}

.select-standard--without-search .select-standard__list {
  margin-top: 7px;
}

.select-standard {
  .search {
    padding: 10px;
    width: 100%;
    max-width: 100%;
    position: absolute;
    left: 0;
    margin: 0;
    .search__button {
      padding: 0;
      height: 37px;
      width: 37px;
      right: 10px;
      top: 10px;
    }
    .input--search {
      top: 0;
      height: 37px;
    }
  }
}

.select-standard__body.select_list.select_list-for-curse {
  margin-top: 10px;
  right: 0;
  left: inherit;
  border: 0;
  min-width: 210px;
  box-shadow: 0 3px 6px rgba(10,10,10,.16);
}

@media (min-width: $laptop) {
  .select-standard__toggle:hover .select-standard__arrow {
    border-color: $black-color;
  }

  .select-standard__toggle:focus .select-standard__arrow {
    border-color: $yellow-color;
  }

  .select-standard__body .input--search {
    &:hover {
      border-color: $black-color;
    }

    &:focus {
      border-color: $yellow-color;
    }
  }

  .select-standard__toggle {
    &:hover {
      border-color: $black-color;
    }

    &:focus {
      border-color: $yellow-color;
    }
  }

  .select-standard--without-search
    .select-standard__toggle:hover
    .select-standard__arrow {
    border-color: transparent;
  }

  .select-standard--without-search
    .select-standard__toggle:focus
    .select-standard__arrow {
    border-color: transparent;
    box-shadow: none;
  }
}
