$base-font-family: "Roboto", arial, sans-serif;
$base-font-size: 14px;
$base-line-height: 19px;
$black-clear-color: #000000;
$black-color: #0a0a0a;
$white-color: #ffffff;
$gray-color: #d8d8d8;
$gray-hover-color: #888282;
$gray-lite-color: #a8a8a8;
$gray-standard-color: #f5f5f5;
$violet-dark-color: #7835bb;
$violet-lite-color: #f1eaf8;
$red-color: #fe5555;
$red-lite-color: #fe55551a;
$violet-fall-back-color: #b99eb6;
$pink-color: #f1eaf8;
$pink-color-normal: #ffeded;
$red-light: #ffeeee;
$green-color: #0b9f2e;
$green-color-lite: #e6f5e9;
$yellow-color: #ffaa00;
$yellow-lite-color: #fff6e5;
$iphone-breakpoint: 375px;
$horizontal-mobile: 550px;
$tablet: 768px;
$tablet-large: 992px;
$laptop: 1210px;
$desktop: 1390px;
$animation-time: 0.2s;
$timing-function: ease-in;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

